#footer{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(bottom,  rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom,  rgba(0, 0, 0,0.9) 0%,rgba(0, 0, 0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top,  rgba(0, 0, 0,0.9) 0%,rgba(0, 0, 0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    font-size: 20px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding:10px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}