.sel_name_stuff{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.contact_info{
    color: black;
    text-align: center;
}
.sel_user_description{
    color: black;
}