#container1{
    margin-top: 2%;
    width: 50%;
    position: relative;
    left:25%;
    border-radius: 10px;
    background-color: rgb(0, 0, 0,0.4);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
#label{
    color: rgb(255,255,255);
}
#label1{
    color: rgb(255,255,255);
}
#label2{
    color: rgb(255,255,255);
}
#label3{
    color: rgb(255,255,255);
}
#label4{
    color: rgb(255,255,255);
}
#label5{
    color: rgb(255,255,255);
}
#label6{
    color: rgb(255,255,255);
}
#label8{
    color: rgb(255,255,255);
}
#label9{
    color: rgb(255,255,255);
}
#input1{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input1::placeholder{
    color: rgb(255,255,255,0.5);
}
#input2{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input2::placeholder{
    color: rgb(255,255,255,0.5);
}
#input3{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input3::placeholder{
    color: rgb(255,255,255,0.5);
}
#input4{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input4::placeholder{
    color: rgb(255,255,255,0.5);
}
#input5{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input5::placeholder{
    color: rgb(255,255,255,0.5);
}
#input6{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input6::placeholder{
    color: rgb(255,255,255,0.5);
}
#input8{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input8::placeholder{
    color: rgb(255,255,255,0.5);
}
#input9{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color: rgb(0, 0, 0,0.5);
    border-radius: 20px;
}
#input9::placeholder{
    color: rgb(255,255,255,0.5);
}
#textarea{
    background-color: rgb(0, 0, 0,0.5);
    color: rgb(255,255,255);
    border-color:rgb(0, 0, 0,0.5) ;
    border-radius: 20px;
    resize: none;
}
#textarea::placeholder{
    color: rgb(255,255,255,0.5);
}

